body {
  padding-left: 2%;
  width: 95%;
}

@media screen and (min-width: 800px) {
  body {
    max-width: 800px;
    margin: 0 auto;
  }
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-li {
  display: inline-block;
  padding-right: 4px;
}

.navbar-li-right {
  float: right;
}
